{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center"><font color="pink">Entries</h1>
    <ul class="list-group list-group-flush" id="entries">
      {% for entry in user.entries %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ entry.name }}: ${{ entry.amount }}
        <button type="button" class="close" onClick="deleteNote({{ entry.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="'name" id="name" class="form-control" required placeholder="Enter name" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="amount">Dollar Amount</label>
        <input type="number" name="amount" id="amount" class="form-control" required placeholder="Enter amount" step="0.01" autocomplete="off">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Add Entry</button>
      </div>
    </form>
    {% endblock %}